/*
.*


# INCLUDE BACK
# ------------

# DIRECTORIES
# ------------

!validators
!internal
!cmd

!scripts

!.github

# DIRECTORIES
# ============

# FILES
# ------------

!.gitignore
!go.mod
!README.md
!TODO.md

!LICENSE

!zensical.toml

# FILES
# ============

# INCLUDE BACK
# ============